body{
    background-image: url(./cnt.jpg);
}
.cnt{
    height: 450px;
    width: 600px;
    background-image: linear-gradient(to right,#072644,slategray,#072c51);
    margin-left: 450px;
    margin-top: 150px;
    text-align: center;
    padding-top: 100px;
    box-shadow: 5px 5px 5px 5px white;
    
}
#btn{
    margin-left: 10px;
    padding-top:20px;
    
}