body{
    background-image: linear-gradient(to right,#072644,slategray,#072c51);
}
#line{
    width: 1410px;
    height: 5px;
    margin-left: 50px;
    background-color:rgb(255, 255, 255);
}
#lastline1{
    width: 1410px;
    height: 5px;
    margin-top:1500px;
    margin-left: 50px;
    background-color:rgb(10, 10, 10);
}
#lastline2{
    width: 1410px;
    height: 5px;
    margin-top:10px;
    margin-left: 50px;
    background-color: rgb(18, 17, 17);
}
#line1{
    width: 510px;
    height: 5px;
    margin-left: 20px;
    background-color: rgb(146, 36, 56);
}

#help:first-of-type{
    animation: appear 4s infinite ;
  }
 
  @keyframes appear{
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  }
 
#p1
{
    width: 550px;
    background-color: black;
    height: 630px;
    float: left;
    margin-left: 450px;
    margin-top: 100px;
    box-shadow: 8px 8px 8px white;
    color: white;
}
#p2
{
    width: 550px;
    background-color: black;
    height: 230px;
    float: left;
    margin-left: 450px;
    margin-top: 100px;
    box-shadow: 8px 8px 8px white;
    color: white;
}
#p3
{
    width: 550px;
    background-color: black;
    height: 230px;
    float: left;
    margin-left: 450px;
    margin-top: 100px;
    box-shadow: 8px 8px 8px white;
    color: white;
}
#btn{
    margin-left: 700px;
    padding-top:10px;
    
}
